body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

div.wrapper {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

/*HEADER*/
header {
    margin: 0;
    padding: 0;
    font-size: 0;
    background-color: #fffabe;
    height: 70px;
}

#logo {
    position: relative;
    left: 46px;
    top: 20px;
}

ul.nav {
    height: 72px;
    margin: 0;
    padding: 0 80px;
    float: right;
}

.nav li {
    display: inline-block;
    font-size: 16px;
    color: #515151;
    padding: 28px 20px;
    text-transform: uppercase;
}

.nav li a:hover {
    color: #d42551;

}

.nav a {
    text-decoration: none;
    color: #515151;
}


header img#welcome {
    height: 400px;
    width: 1000px;
    margin: 0;
    padding: 0;
}


/*SECTION*/
img#macarons {
    position: absolute;
    top: 100px;
}

div.leftImg {
    float: left;
    height: 580px;
    position: relative;
}


div.mainText {
    float: right;
    width: 700px;
    margin: 20px 50px;
}

section {
    color: #6a6969;
}
section.ourMacs{
    padding: 30px;
    position:relative;
    margin-bottom: 15px;
}

img#fourMacs {
    position: relative;
    top: 0;
}

div#absContainer {
    position:absolute;
    top: 0;
}

p#botPara {
    position:relative;
    top: 10px;
}

section h2 {
    font-size: 20px;
    margin: 50px 0;
}

section p {
    font-size: 14px;
    line-height: 24px;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
/*SCHEDULE*/
div.schedule {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
div.dayBox {
    width: 126px;
    color: #6a6969;
    background-color: #fffabe;
    margin: 33px 6px;
    display: inline-block;
    text-align: left;

}

div.dayHours {
    height: 74px;
    padding: 0 8px;
}

.dayHours h4 {
    font-size: 14px;
    margin: 0;
    padding: 10px 0;
}

.dayBox p {
    font-size: 12px;
    margin: 0;
    padding: 0;
}
div.treat {
    height: 27px;
    padding: 6px 8px 0 8px;
}

.treatImg {
    float: right;
}

#coconut {
    background-color: #824603;
    color: #ffffff;
}

#vanilla {
    background-color: #df5277;
    color: #ffffff;
}

#lemon {
    background-color: #a2304e;
    color: #ffffff;
}

#almond {
    background-color: #c39005;
    color: #ffffff;
}





/*FOOTER*/
footer {
    height: 70px;
    width: 990px;
    background-color: #df5277;
    color: white;
    text-align: center;
    font-size: 11px;
    padding: 5px;
}

footer ul {
    margin:0;
    padding: 0;
}

footer ul li {
    display: inline-block;
    padding: 5px 60px;
}

.contact li a {
}

.contact img {
    vertical-align: middle;
    padding: 0 10px;

}